{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} My portfolio {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
</head>
<body>
    <div class="wrapper">
        <div class="content">
    <div class="header">
        <div class="logo">
            <img src="{% static 'main/images/brand_logo.png' %}" alt="brand_logo">
        </div>
        <div class="header-item">
            <p>Apps</p>
            <ul class="submenu">
                <li><a href="{% url 'sheets_bot' %}">Google Sheets API & Telegram bot</a></li>
                <li><a href="{% url 'catalog' %}">Crossboost catalog</a></li>
                <li><a href="#">Home Surveillance Server</a></li>
            </ul>
        </div>
        <div class="header-item">
            <p>Gamification</p>
            <ul class="submenu">
                <li><a href="#">Snake</a></li>
                <li><a href="#">Habit tracker</a></li>
                <li><a href="#">Pinball</a></li>
            </ul>
        </div>
        <div class="header-item">
            <p>Privacy</p>
            <ul class="submenu">
                <li><a href="#">Admin panel</a></li>
                <li><a href="#">Curricullum vitae</a></li>
                <li><a href="#">Callback polls</a></li>
            </ul>
        </div>
        <div class="header-item">
            <p><a href="/admin">Sign in</a></p>
            <ul class="submenu">
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    </div> <!-- Closing content -->
    <footer>
        <p style="color: black">Chebotop ©</p>
    </footer>
    </div> <!-- Closing wrapper -->
</body>
</html>
