{% extends 'base_head.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    {% block title %}Обзор | Crossboost{% endblock %}
    {{ block.super }}  
{% endblock %}
{% block navbar %}
    {{ block.super }}  
{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row justify-content-center" style="padding-top: 12px">
            <h2 class="text-center">Обзор {{category}}</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- filter column -->
            <div class="col-lg-3 col-md-3">
                <div class="container">
                    <div class="row">
                        <h5 class="text-secondary">Фильтр</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <article class="filter-group">
                                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Бренд</h6>
                                        </a> </header>
                                    <div class="filter-content collapse" id="collapse_aside1">
                                        <div class="card-body">
                                            <ul class="list-menu">
                                                {% for brand in all_brands %}
                                                <li><a href='/browse/{{brand.name.lower}}' class="text-secondary" data-abc="true">{{brand.name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                                <article class="filter-group">
                                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Модель</h6>
                                        </a> </header>
                                    <div class="filter-content collapse" id="collapse_aside2">
                                        <div class="card-body">
                                            <ul class="list-menu">
                                                {% for model in all_models %}
                                                <li><a href="/browse/{{model.id}}" class="text-secondary" data-abc="true">{{model.model}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Цена </h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse" id="collapse_aside3" style="">
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Мин.</label>
                                                        <input class="form-control" placeholder="₽" name="min" min="0" type="number" value={{min_price}}>
                                                    </div>
                                                    <div class="form-group text-right col-md-6">       
                                                        <label>Макс.</label>
                                                        <input class="form-control" placeholder="₽" name="max" min="0" type="number" value={{max_price}}>
                                                    </div>
                                                </div>
                                                <button href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </article>
                                <!-- <article class="filter-group">
                                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Size </h6>
                                        </a> </header>
                                    <div class="filter-content collapse" id="collapse_aside4" style="">
                                        <div class="card-body">
                                            {% for size in sizes %}
                                            <label class="checkbox-btn">
                                                <input type="checkbox">
                                                <span class="btn btn-light"> {{size}} </span>
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </article> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end filter column -- 
               product grid column -->
            <div class="col-lg-9 col-md-9">
                <div class="row wow fadeIn">
                    {% for shoe in shoes %}
                    <div class="col-3 col-lg-3 col-md-6 mb-5">
                        <div class="card h-100">
                            <a href="/shoe/{{shoe.id}}">
                                <img src="{{shoe.image.url}}" alt="" width="100%">
                            </a>
                            <div class="card-body text-center">
                                <a href="/shoe/{{shoe.id}}" class="text-secondary">
                                    <h6>{{shoe.model}}</h6>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="/shoe/{{shoe.id}}" class="text-dark">{{shoe.model.model}}</a>
                                    </strong>
                                </h5>
                                <h6 class="text-secondary">{{shoe.color}}</h6>
                
                                <h5 class="font-weight-bold">
                                    ₽{{shoe.price}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end product grid column -->
        </div>
    </div>
    
</main>
{% endblock %}