4{% extends 'base_head.html' %}

{% block head %}
    {% block title %}Home | Sneaker Shop{% endblock %}
    {{ block.super }}
{% endblock %}

{% block navbar %}
    {{ block.super }}  
{% endblock %}

{% block content %}
{% load static %}
<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-3">Air Jordan 6 DMP</h1>
        <p class="lead text-white font-weight-bold" 
            style="text-shadow: 2px 2px 4px black;">
            Релиз "Defining Moments Pack" (DMP): успей заполучить часть истории Майкла Джордана.
        </p>
        <!-- <hr class="my-4"> -->
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="/shoe/8" role="button">Узнать больше</a>
        </p>
    </div>
    <h2 class="text-center">Актуальное</h2>
    <div class="container">
        <div class="row text-center">
            {% for shoe in recent_shoes %}
            <div class="col-12 col-lg-2 col-md-3 col-sm-4 mb-4"> <!-- Определение размеров колонок для разных экранов -->
                <div class="card h-100">
                    <a href="/shoe/{{shoe.id}}">
                    {% if shoe.image and shoe.image.url %}
                        <img src="{{ shoe.image.url}}" style="max-height: 120px;" alt="" width="100%">
                    {% else %}
                        <img src="{% static 'images\Jordan-Mars-270-Green-Glow.jpg' %}" alt="Заглушка" width="100%">
                    {% endif %}
                    </a>
                    <div class="card-body">
                        <p class="card-title"><a class="text-secondary" href="/shoe/{{shoe.id}}">{{shoe.model}}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
    
<!-- </body> -->
</html>