body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1, p {
    color: #47cdd5;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.header-item {
    position: relative;
    margin-right: 10%;
    font-weight: bold;
}
.logo img {
    max-width: 350px;
    height: auto;
    margin-right: 10px;
}
.submenu {
    margin-top: -1px;
    display: none; 
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    top: 100%;
    left: 0;
}
.header-item:hover .submenu {
    display: block; 
}
.submenu li {
    padding: 10px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.submenu li a:hover {
    background-color: #f0f0f0;
}
