{% extends "main/index.html" %}

{% block title %}
{{ current_category.name }}
{% endblock %}

{% block content %}
    <h1>{{ current_category.name }}</h1>

    <div class="products-list">
        {% if products %}
            <ul>
                {% for product in products %}
                    <li>
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        <p>Цена: {{ product.price }}₽</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>В этой категории пока нет товаров.</p>
        {% endif %}
    </div>
{% endblock %}
