body {
    padding-top: 70px;
}

.jumbotron {
    background: url('../images/jumbotron.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 15px;
    height: 55vh;
    width: 100vw;
    color: rgb(195, 195, 195);
}

.card {
    border: none;
}
img.logo-img {
    max-width: 200px;
}
p.lead {
margin-right: 50px;
}
@media (max-width: 576px) {
    .jumbotron {
        height: 40vh;
    }
    p.lead {
        font-size: 10px;
        margin-right: 0px;
    }
    .display-3 {
        font-size: 30px;
        margin-top: 20px;
    }
}
@media (max-width: 550px) {
    .col-custom {
        width: 50%;
    }
}
