body {
    padding-top: 120px;
}

.shoeId {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #acacac;
    padding: 0.5rem 0;
    margin: 0 0 1rem;
    display: block;
}

.shoeBrand {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.shoeHead {
    
}

#would-like {
    margin-top: 20px
}

.size-select-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.img-align {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-price {
    display: flex;
    justify-content: center;
}
.card {
    border: none;
}

#pageShoeName {
    margin-top: 100px;
}
.description {
    text-align: justify;
}
.sizes-container, .submit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.size-box {
    position: relative; 
    background-color: #f5f5f5;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-container {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}



.size-box:hover, .size-box.size-selected {
    background-color: #40E0D0;
    color: white;
}

.tooltip {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s; visibility: 0.3s;
    pointer-events: none;
    text-align: center !important;

}

/* Отображение тултипа при наведении */
.size-box:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.size-selected {
    background-color: #40E0D0;
    color: white;
}



@media only screen and (min-width: 720px) {
    #size-select-row {
        display: none;
    }
}

/* @media only screen and (min-width: 600px) {
    .sizes-container {

    }
} */
@media only screen and (max-width: 720px) {



.mobile-select {
    display: block;
}

.sizes-container {
    display: none;
}

.size-box {
    width: 100%; /* Растягивание элементов на всю ширину контейнера */
    margin: 5px 0; /* Добавление отступа сверху и снизу для каждого элемента */
}

.submit-container {
    width: 100%; /* Растягивание контейнера кнопки на всю ширину */
    justify-content: center; /* Центрирование кнопки внутри контейнера */
}


.col-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

.btn-dark {
    margin-top: 10px;
    width: 100%;
}
.btn-danger {
    justify-content: center;
    width: 100%;
    background-color: red;
    color: white;
    margin-top: 10px;

}